/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    background-color: #232323;
    color: #ECECEE;
    font-weight: 400;
    font-size: 1em;
    font-family: "ff-meta-web-pro";
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

img {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Leporello
   ========================================================================== */

body {
	margin:auto;
	width:100%;
}

.container {
	margin:auto;
	margin-bottom: 40px;
	max-width:1024px;
	width:90%;
}

#interface {

	max-width: 600px;
	margin-bottom: 50px;
	margin-top: 30px;

	p {
	 margin: 0;
	}

	#startstop {
		cursor: pointer;
	}

	canvas#balls {
		z-index: 100;
		margin:5px;
		width: 89px;
		height: 118px;
	}

	#output {
		height:50px;
	}

	.buttons #send {
		display: inline-block;
		border-bottom: 5px solid #7DC1C8;
		color: #7DC1C8;
		font-weight: 700;
		font-size: 300%;
		cursor: pointer;

	}
}

#showthrough {
	position: absolute;
	width: 55px;
	margin-top: -20px;

	.stickycontainer {
		position: absolute;
		top:20px;
		&.sticky {
			position: fixed;
		}
	}

	ul {
		position: absolute;
		left: -37px;
		margin: 5px;
		padding:0;
		list-style: none;


		li {
			display: block;
			margin:5;
			border: 1px solid #999;
			text-align: center;
			cursor: pointer;

			&.active {
				border: 1px solid #fff;
			}

			c {
				display: block;
				width: 25px;
				height: 25px;
				color: #888;
			}

			square {
				display: block;
				width:25px;
				height: 25px;
				background-color: #fff;
				color: #333;
			}
		}
	}
}

#imgs {

	display: -webkit-flex;
	display: flex;
	color: #333;
/*  justify-content: center; */

	font-size: 80px;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;


	.bloc-lettre {
	    position:relative;
		z-index:1;
		margin: 5px;
		min-width: 10px;
		width: 91px;
		height: 120px;
		border: 1px solid #000;

		&.lastClicked {
			z-index:100;
		}

		h3 {
			margin: 0;
			text-align: center;
			font-weight: normal;
			line-height: 1.2em;
			z-index: 1;
			color: #000;
		}

		.exp-lettre {
		    position:absolute;
			left: 0px;
			bottom: 0px;
			margin: -1px;
		    z-index:12;
		    opacity:1;
		    -webkit-transition: all 1s;
		    -moz-transition: all 1s;
		    -ms-transition: all 1s;
		    -o-transition: all 1s;
		    transition: all 1s;

			img {
			    position:relative;
			    display: block;
			    margin:auto;
			    border: 1px solid black;
			    transition: width 1s;
			    z-index:12;
			    cursor: pointer;
			}

			&~.exp-lettre {
				bottom: -2px;
				z-index:11;

				img {
				    width: 90%;
				}

				&~.exp-lettre {
					bottom: -4px;
					z-index:9;

					img {
					    width: 80%;
					}

					&~.exp-lettre {
						bottom: -4px;
						z-index:8;

						img {
						    width: 80%;
						}
					}
				}
			}
		}
	}
}




footer {

}






