/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    background-color: #232323;
    color: #ECECEE;
    font-weight: 400;
    font-size: 1em;
    font-family: "ff-meta-web-pro";
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

img {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Leporello
   ========================================================================== */

body {
	margin:auto;
	width:100%;
}

.container {
	margin:auto;
	margin-bottom: 40px;
	max-width:1024px;
	width:90%;
}

#interface {
	canvas#balls {
		width: 89px;
		height: 118px;
		z-index: 100;
		margin:5px;
	}

	#output {
		height:50px;
	}

	.buttons #send {
		display: inline-block;
		border-bottom: 5px solid #7DC1C8;
		color: #7DC1C8;
		font-weight: 700;
		font-size: 300%;
		cursor: pointer;

	}
}

#imgs {

	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	font-size: 80px;
	color: #333;

	-moz-user-select: -moz-none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;

	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;

	.bloc-lettre {
	    position:relative;
		width: 89px;
		height: 118px;
		min-width: 10px;
		margin: 5px;
		z-index:1;

		&.lastClicked {
			z-index:100;
		}

		h3 {
			margin: 0;
			text-align: center;
			font-weight: normal;
		}

		.exp-lettre {
		    position:absolute;
		    z-index:12;
		    width:100%;
		    opacity:1;
		    bottom:0;
		    -webkit-transition: all 1s;
		    -moz-transition: all 1s;
		    -ms-transition: all 1s;
		    -o-transition: all 1s;
		    transition: all 1s;

			img {
			    width:100%;
			    height:auto;
			    border: 1px solid black;
			    display: block;
			    margin:auto;
			    position:relative;
			    transition: width 1s;
			}

			&~.exp-lettre {
				z-index:11;
				bottom: -2px;

				img {
				    width: 90%;
				}

				&~.exp-lettre {
					z-index:9;
					bottom: -4px;

					img {
					    width: 80%;
					}
				}
			}
		}
	}
}




footer {

}






